/*
Colors

Colors:
$color-primary    : #3498db - This is the primary color
$alizarin         : #DE2439
$selectiveyellow  : #F6B10B
$springbud        : #BAD500
$kellygreen       : #1BB934
$texas            : #E7EB90
$gainsboro       : #E9E9E9

Styleguide Colors
*/

$color-primary: #3498db;
$alizarin: #DE2439;
$selectiveyellow: #F6B10B;
$springbud: #BAD500;
$kellygreen: #1BB934;
$texas: #E7EB90;
$gainsboro: #E0E0E0;
