/*
Colors

Colors:
$color-primary    : #6CB2EB - This is the primary color
$alizarin         : #DE2439
$selectiveyellow  : #F6B10B
$springbud        : #BAD500
$kellygreen       : #1BB934
$texas            : #E7EB90

Styleguide Colors
*/

$color-primary: #6CB2EB;
$alizarin: #DE2439;
$selectiveyellow: #F6B10B;
$springbud: #BAD500;
$kellygreen: #1BB934;
$texas: #E7EB90;
