/*
Icons font

Icons:
left    : ← - arrow to left
up      : ↑ - arrow to top
right   : → - arrow to right
down    : ↓ - arrow to bottom
comment : 💬 - bulle

Styleguide Icons
*/

/*
Colors

Colors:
$color-primary    : #FF6400 - Primary color
$cloudburst      : #354052 - Font color
$dodgerblue: #2EA2F8
$crimson: #ED1C24
$kellygreen: #1BB934

Styleguide Colors
*/

$color-primary: #FF6400;
$cloudburst: #354052;
$dodgerblue: #2EA2F8;
$crimson: #ED1C24;
$kellygreen: #1BB934;
