@import '../../../node_modules/css-scheibo/lib/settings',
        '../../../node_modules/css-scheibo/lib/mixins',
        '../../../node_modules/css-scheibo/lib/objects';

a {
  @extend .text-current;
}

.kss-header {
  @extend .bg-blue-light;
  @extend .text-white;
  @extend .font-arial;
  @extend .px-4;
  @extend .py-1;
}

.kss-doc-title {
  @extend .text-2xl;
  @extend .font-normal;

  @include simplebreakpoint('md') {
    @include container;
    @include mx-auto;
  }
}

.kss-style {
  @extend .font-arial;
  @extend .text-grey-darkest;
}

.kss-container {
  @extend .my-6;
  @extend .mx-auto;
  @extend .px-4;

  @include simplebreakpoint('md') {
    @include container;
    @include flex;
    @include justify-between;
  }
}

.kss-nav {

  &__menu {
    @extend .list-reset;
  }

  &__menu-child {
    @extend .list-reset;
    @extend .ml-4;

    @include simplebreakpoint('md') {
      @include m('t', '2');
    }
  }

  &__menu-item {
    @extend .border-grey-light;
    @extend .border-solid;
    @extend .border-0;
    @extend .border-t-px;

    @include simplebreakpoint('md') {
      @include border-none;
      @include m('b', '2');
    }
  }

  &__menu-link {
    @extend .text-current;
    @extend .block;
    @extend .p-2;
    @extend .no-underline;
    @extend .flex;
    @extend .flex-row-reverse;
    @extend .justify-between;
    @extend .cursor-pointer;

    &:hover {
      @extend .bg-grey-light;
    }

    @include simplebreakpoint('md') {
      @include rounded();
      @include bg-color(grey-lightest);

      &:hover {
        @include bg-color('grey-light');
      }

      &--active {
        @include bg-color(blue-lighter);
      }

      .kss-nav__menu-child & {
        @include bg-color('grey-light');

        &:hover {
          @include bg-color(blue-lighter);
        }
      }
    }
  }

  &__ref {
    @extend .pr-2;
    @extend .opacity-25;
  }
}

.kss-title {

  &--level-1 {
    @extend .text-2xl;
  }

  &--level-2 {
    @extend .text-xl;
    @extend .italic;
  }

  &__permalink {
    @extend .no-underline;
  }
}

.kss-toolbar {

  &__link {
    @extend .inline-block;
    @extend .rounded;
    @extend .bg-grey-lighter;
    @extend .block;
    @extend .p-2;
    @extend .px-4;
    @extend .m-1;
    @extend .text-center;
    @extend .line-h-none;

    &:hover {
      @extend .bg-grey-light;
    }

    &--guides {

      .kss-guides-mode & {
        @extend .bg-blue-lighter;
      }
    }

    &--fullscreen {

      .kss-fullscreen-mode & {
        @extend .bg-blue-lighter;
      }
    }

    &--markup {

      .kss-markup-mode & {
        @extend .bg-blue-lighter;
      }
    }
  }

  &__tooltip {
    @extend .hidden;
  }

  &__on {
    @extend .hidden;

    .kss-fullscreen-mode & {
      @extend .inline;
    }
  }

  &__off {

    .kss-fullscreen-mode & {
      @extend .hidden;
    }
  }

  &__svg {
    @extend .w-4;
    @extend .h-4;
  }

  &__icon-fill {
    @extend .text-black;
    @extend .fill-current;
  }
}

.kss-modifier {

  &__example {
    @extend .p-3;
    @extend .mb-8;
    @extend .py-10;
    @extend .border-solid;
    @extend .border-grey-light;
    @extend .border-0;
    @extend .border-b-px;
  }

  &__defaultinsertmarkuptext {
    @extend .italic;
    @extend .text-sm;
    @extend .font-normal;
  }

  &__defaultheader {
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
  }

  &__heading {
    @extend .font-bold;
    @extend .mb-4;
  }

  &__header {
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
    @extend .opacity-25;
    transition: opacity 0.5s;

    &:hover {
      @extend .opacity-100;
    }
  }

  &__default-name,
  &__name {
    @extend .font-bold;
    @extend .px-3;
  }

  &__description,
  &__insertmarkuptext {
    @extend .px-3;
    @extend .italic;
    @extend .text-sm;
  }
}

.kss-section {
  @extend .mb-14;

  &--hidden {
    @extend .hidden;
  }
}


.kss-fullscreen-mode {
  .kss-header,
  .kss-sidebar,
  .kss-section:not(.is-fullscreen),
  .kss-github {
    @extend .hidden;
  }

  .kss-container,
  .kss-main {
    @extend .w-full;
    @extend .max-w-full;
    @extend .p-0;
  }

  .kss-modifier {

    &__example {
      @extend .px-0;
    }
  }
}

.kss-guides-mode {

  .kss-modifier {

    &__example {
      @extend .border-dotted;
      @extend .border-grey-dark;
      @extend .border-px;
      @extend .p-0;
    }
  }
}

@include simplebreakpoint('md') {

  .kss-sidebar {
    @include w-("1\\/4");
  }

  .kss-main {
    width: calc(#{map-get($widths, "3\\/4")} - 3rem);
  }
}

.kss-overview {

  td {
    @extend .px-3;
  }

  th {
    @extend .text-sm;
  }

  hr {
    @extend .border-0;
    @extend .bg-blue-light;
    @extend .h-px;
  }
}

.kss-colors {
  @extend .flex;
  @extend .flex-wrap;
  @extend .justify-between;
  @extend .list-reset;

  &:after {
    content: "";
    flex: auto;
  }

  &__item {
    width: calc(#{map-get($widths, "1\\/2")} - 1rem);
    @extend .mb-8;
    @extend .px-2;

    @include simplebreakpoint('desktop') {
      width: calc(#{map-get($widths, "1\\/4")} - 1rem);
    }
  }

  &__colorbox {
    @extend .w-full;
    height: 100px;

    @include simplebreakpoint('desktop') {
      height: 150px
    }
  }

  &__value {
    @extend .mb-2;
  }

  &__variable {
    @extend .italic;
    @extend .mb-2;
  }
}
