/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

/**
 * Final main CSS file composed of separated Sass files. New created Sass files
 * need to be added here to have any effect.
 *
 * The order of the import directives is important. Changing the file order
 * within an import directive however should do no harm in most cases.
 */

//.kss-modifier__example {
//  font-family: arial,sans-serif !important;
//}

//:root {
//  #{--kss-scheibo--maincolor}: #FF0000;
//  #{--kss-scheibo--maincolor-con}: yellow;
//}


body {
  font-family: arial, sans-serif;
}

/*------------------------------------*\
  #MODULES
\*------------------------------------*/

@import '_modules/settings',
        '_modules/mixins';





/*------------------------------------*\
  #VENDOR
\*------------------------------------*/

 //@import '_vendor/mediabox';


/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*
Base

Styleguide 1.0
*/

@import
  '01_base/input',
  '01_base/paragraph',
  '01_base/button';





/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
Components

Styleguide 2.0
*/

 @import '02_components/form';





/*------------------------------------*\
  #LAYOUTS
\*------------------------------------*/

//@import '03_layouts/contentarea';





/*------------------------------------*\
  #Fullpages
\*------------------------------------*/
