/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

/**
 * Final main CSS file composed of separated Sass files. New created Sass files
 * need to be added here to have any effect.
 *
 * The order of the import directives is important. Changing the file order
 * within an import directive however should do no harm in most cases.
 */





/*------------------------------------*\
  #MODULES
\*------------------------------------*/

@import '_modules/settings',
        '_modules/mixins';





/*------------------------------------*\
  #VENDOR
\*------------------------------------*/

 //@import '_vendor/mediabox';


/*------------------------------------*\
  #PATTERNS
\*------------------------------------*/

/*
Patterns

Styleguide 1.0
*/

/*
Patterns - Example

.example - example
.example1 - example1
.example2 - example2

Markup: <div class="{{modifier_class}}">This is an example in section 1.0 and can be used in all other sections.</div>

Styleguide 1.1
*/

.example {
  background-color: #DE2439;
  padding: 1rem;
  color: white;
}

.example1 {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #F6B10B;
}

.example2 {
  padding: 1rem;
  width: 50%;
  background-color: #BAD500;
}

/*
Patterns - Example 2

.example2 - example

Markup:
  <div class="{{modifier_class}}">
    <p>This is another section that includes the section with the different modifiers of 1.1.</p>
    <insert-markup>1.1</insert-markup>
    <insert-markup>1.1-0</insert-markup>
    <insert-markup>1.1-2</insert-markup>
    <insert-markup>1.1-1</insert-markup>
    <insert-markup>1.1-2</insert-markup>
    The Markup is above this line
  </div>

Styleguide 1.1.1
*/

// @import '01_patterns/general';





/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
Components

Styleguide 2.0
*/

// @import '02_components/icons';





/*------------------------------------*\
  #LAYOUTS
\*------------------------------------*/

/*
Layouts

Styleguide 3.0
*/

//@import '03_layouts/contentarea';





/*------------------------------------*\
  #Fullpages
\*------------------------------------*/
