/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

/**
 * Final main CSS file composed of separated Sass files. New created Sass files
 * need to be added here to have any effect.
 *
 * The order of the import directives is important. Changing the file order
 * within an import directive however should do no harm in most cases.
 */





/*------------------------------------*\
  #MODULES
\*------------------------------------*/

@import '_modules/settings',
        '_modules/mixins',
        '_modules/normalize';





/*------------------------------------*\
  #VENDOR
\*------------------------------------*/

 //@import '_vendor/mediabox';





/*------------------------------------*\
  #PATTERNS
\*------------------------------------*/

/*
Patterns

Styleguide 1.0
*/

/*
Patterns - Example

.example - example
.example1 - example1
.example2 - example2

Markup: <div class="{{modifier_class}}">This is an example.</div>

Styleguide 1.1
*/

.example {
  background-color: #fff000;
}

.example1 {
  background-color: #ff0000;
}

.example2 {
  background-color: #000fff;
}

/*
Patterns - Example 2

.example2 - example

Markup:
  <div class="{{modifier_class}}">
    This is second example with a insert markup
    <insert-markup>1.1</insert-markup>
    <insert-markup>1.1-1</insert-markup>
    <insert-markup>1.1-2</insert-markup>
    The Markup is above this line
  </div>

Styleguide 1.1.1
*/

.example {
  background-color: #fff000;
}

.example1 {
  background-color: #ff0000;
}

.example2 {
  background-color: #000fff;
}

// @import '01_patterns/general';





/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
Components

Styleguide 2.0
*/

// @import '02_components/icons';





/*------------------------------------*\
  #LAYOUTS
\*------------------------------------*/

/*
Layouts

Styleguide 3.0
*/

//@import '03_layouts/contentarea';





/*------------------------------------*\
  #Fullpages
\*------------------------------------*/
