/*
Input - Text

This is the basic form field for any single input. It sets a few layout options by default (margin) and styles any labels within.

.form-input--error - This is a alert style
.form-input--success - This is a success style
.form-input--small - This is a large style

Markup: <input class="form-input {{modifier_class}}" type="text" placeholder="Text Input" />

Styleguide 1.1
*/

.form-input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid $gainsboro;
  border-radius: 5px;
  width: 100%;
  margin: 0 0 1rem 0;
  box-sizing: border-box;

  &:focus {
    border-color: $color-primary;
  }

  &--error {
    border-color: $alizarin;
  }

  &--success {
    border-color: $kellygreen;
  }

  &--small {
    width: auto;
  }
}